---
import "leaflet/dist/leaflet.css";
---

<div id="map" style="height:100vh;"></div>

<script>
    import L from "leaflet";

    const map = L.map("map").setView([50.8285, 3.264], 13);

    L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {
        attribution: "© OpenStreetMap",
    }).addTo(map);

    let selectedMarker = 0;

    fetch("/testingsKPR//data/KPR+Kortrijk.geojson")
        .then((r) => r.json())
        .then((data) => {
            L.geoJSON(data, {
                pointToLayer: (feature, latlng) => {
                    const isFeatured = feature.properties.featured;
                    const customIcon = L.icon({
                        iconUrl: isFeatured
                            ? "/testingsKPR/marker__yellow.svg"
                            : "/testingsKPR/marker__gray.svg",
                        iconSize: isFeatured ? [32, 32] : [24, 24],
                        iconAnchor: isFeatured ? [16, 32] : [12, 24],
                        popupAnchor: isFeatured ? [0, -32] : [0, -24],
                    });
                    return L.marker(latlng, { icon: customIcon });
                },
                onEachFeature(feature, layer) {
                    layer.feature = feature;
                    const coords = feature.geometry.coordinates;
                    const routeUrl = `https://www.google.com/maps/dir/?api=1&destination=${coords[1]},${coords[0]}`;
                    let popup = `<b>${feature.properties.name}</b>`;
                    if (feature.properties.location) {
                        popup += `<br><i>${feature.properties.location}</i>`;
                    }
                    popup += `<br><a href="${routeUrl}" target="_blank" class="route-button">See route</a>`;
                    layer.bindPopup(popup);

                    layer.on("click", () => {
                        if (selectedMarker) {
                            const isFeatured = feature.properties.featured;
                            const wasFeatured =
                                selectedMarker.feature.properties.featured;
                            selectedMarker.setIcon(
                                L.icon({
                                    iconUrl: wasFeatured
                                        ? "/testingsKPR/marker__yellow.svg"
                                        : "/testingsKPR/marker__gray.svg",
                                    iconSize: isFeatured ? [32, 32] : [24, 24],
                                    iconAnchor: isFeatured
                                        ? [16, 32]
                                        : [12, 24],
                                    popupAnchor: isFeatured
                                        ? [0, -32]
                                        : [0, -24],
                                }),
                            );
                        }
                        selectedMarker = layer;
                        layer.setIcon(
                            L.icon({
                                iconUrl: "/testingsKPR/marker__orange.svg",
                                iconSize: [32, 32],
                                iconAnchor: [16, 32],
                                popupAnchor: [0, -32],
                            }),
                        );
                    });
                },
            }).addTo(map);
        });
</script>

<style>
    :global(.leaflet-popup-content-wrapper) {
        background-color: #1b1b1b;
        width: 16.9375rem;
        height: 22.375rem;
    }

    :global(.leaflet-popup-content) {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    :global(.leaflet-popup-content b) {
        color: #fff;
        text-align: center;
        font-family: Obviously;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 560;
        line-height: normal;
    }

    :global(.leaflet-popup-content i) {
        color: var(--White, #f7fcfd);
        font-family: Obviously;
        font-size: 2.5rem;
        font-style: normal;
        font-weight: 450;
        height: 3.625rem;
        justify-content: center;
        background-color: #ff6249;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    :global(.leaflet-popup-tip) {
        background-color: #1b1b1b;
    }

    :global(.route-button) {
        color: var(--Black, #1b1b1b);
        font-family: Roboto;
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 500;
        line-height: 150%; /* 1.875rem */
        text-decoration: none;

        display: flex;
        padding: 0.3125rem 0.9375rem;
        justify-content: center;
        align-items: center;
        gap: 0.625rem;
        background-color: #d4f75f;
        outline: 5px solid #d4f75f;
        border: 1.5px solid #1b1b1b;
    }
</style>
